{% extends 'base.html' %}

{% block extra_head %}
    {{ form.media }}
    {{ relationships.media }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap4-theme/1.5.2/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock extra_head %}

{% block page_title %}
Gautam Vamshawali: Update Person
{% endblock page_title %}

{% block nav_menu %}
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <br>
            <div class="alert alert-primary" role="alert">
                Update Person Relationships
            </div>
            <div id="relationships">
                {{ relationships.management_form }}
                {% for form in relationships %}
                    <div class="formset-form">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="form-group">
                            {{ form.primaryPerson }}
                        </div>
                        <div class="form-group">
                            <div class="alert alert-light" role="alert">
                                This person is 
                            </div>
                            {{ form.relation }}
                        </div>
                        <div class="form-group">
                            <div class="alert alert-light" role="alert">
                                Of
                            </div>
                            {{ form.secondaryPerson }} 
                        </div>

                        <a href="#" class="delete-form btn btn-danger">Delete</a>
                    </div>
                {% endfor %}
            </div>
            <br>
            <a href="#" id="add-form" class="btn btn-warning">Add another relationship</a>

            <input class="btn btn-primary" type="submit" value="Update">
        </form>
        <br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function() {
            function initAutocomplete(element) {                
                // Initialize Select2 for primaryPerson
                $(element).find('select[name*="primaryPerson"]').select2({
                    theme: 'bootstrap4',
                    ajax: {
                        url: '/person-autocomplete/',
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function(data, params) {
                            params.page = params.page || 1;
                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.count
                                }
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 1,
                });

                // Initialize Select2 for secondaryPerson
                $(element).find('select[name*="secondaryPerson"]').select2({
                    theme: 'bootstrap4',
                    ajax: {
                        url: '/person-autocomplete/',
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                q: params.term,
                                page: params.page
                            };
                        },
                        processResults: function(data, params) {
                            params.page = params.page || 1;
                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 30) < data.count
                                }
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 1,
                });
            }

            $('#add-form').click(function(e) {
                e.preventDefault();
                var formIdx = $('#id_relationships-TOTAL_FORMS').val();
                var newForm = $('#empty-form').html().replace(/__prefix__/g, formIdx);
                $('#relationships').append(newForm);
                $('#id_relationships-TOTAL_FORMS').val(parseInt(formIdx) + 1);
                initAutocomplete($('#relationships .formset-form').last());
            });

            $('#relationships').on('click', '.delete-form', function(e) {
                e.preventDefault();
                $(this).closest('.formset-form').remove();
            });

            // Initialize Select2 on the existing forms
            $('#relationships .formset-form').each(function() {
                initAutocomplete(this);
            });
        });
    </script>

    <script type="text/template" id="empty-form">
        <div class="formset-form">
            {% for hidden in relationships.empty_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="form-group">
                {{ relationships.empty_form.primaryPerson }}
            </div>
            <div class="form-group">
                <div class="alert alert-light" role="alert">
                    This person is 
                </div>
                {{ relationships.empty_form.relation }}
            </div>
            <div class="form-group">
                <div class="alert alert-light" role="alert">
                    Of
                </div>
                {{ relationships.empty_form.secondaryPerson }}
            </div>

            <a href="#" class="delete-form btn btn-danger">Delete</a>
        </div>
    </script>


{% endblock page_content %}
